@use "/src-page/style/mixin/index" as m;

#message-assistant-app > .deactivate-btn {
  $size: 50px;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-text-main);
  background-color: rgb(from var(--color-bg) r g b / 80%);
  backdrop-filter: blur(3px);
  box-shadow: -2px 2px 4px rgb(from var(--color-text-main) r g b / 30%), -4px 4px 4px rgb(from var(--color-bg) r g b / 30%);
  opacity: .5;
  border: none;
  width: $size;
  height: $size;
  border-bottom-left-radius: $size;
  cursor: pointer;
  transition: .3s;

  &:hover {
	opacity: 1;
  }

  > span {
	position: absolute;
	font-size: 32px;
	line-height: 16px;
	top: 13px;
	right: 13px;
  }
}
