.IconBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--color-text-main);
  transition: all 0.2s;
  border: 1px solid var(--color-border);
  background: transparent;

  &:hover {
	background: var(--color-bg);
  }
}