.SwitchInput {
  width: 48px;
  height: 26px;
  background: #e5e7eb;
  border-radius: 13px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;

  .switch-knob {
	width: 22px;
	height: 22px;
	background: white;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  &.active {
	background: var(--color-primary);

	.switch-knob {
	  transform: translateX(22px);
	}
  }
}
