.Home {
  $max-width:1024px;
  max-width: $max-width;
  width: 100%;
  margin: auto;
  @media (max-width: $max-width) {
	padding: 0 5vw;
  }
  > header {
	width: 100%;
	margin: 5vh auto 0;

	> nav, > div {
	  margin: auto;
	  max-width: 640px;
	  width: 100%;
	}

	> nav {
	  padding: 0 12px 3vh;
	  display: flex;
	  flex-flow: nowrap row;
	  gap: .5em;
	  height: 24px;
	  line-height: 24px;
	  font-size: 12px;

	  a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 24px;
		padding: 0 .5em;
		border-radius: .5em;
		> svg {
		  width: 16px;
		}

		&:hover {
		  background: var(--color-surface)!important;
		}
	  }
	}
  }
}