select, input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  background: var(--color-surface);
  color: var(--color-text-main);

  &[readonly] {
	color: var(--color-text-secondary);
  }

  &:hover {
	border-color: var(--color-primary);
  }
}

select {
  cursor: pointer;
}
