::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar {
  transition: .3s;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, .2);
  box-shadow: inset 0 0 2.5px rgba(0, 0, 0, .2);
  border-radius: 4px;
  background-color: var(--color-border);
  opacity: .6;
  transition: opacity ease-in-out .3s;
  &:hover{
    opacity: 1;
  }
}

:host, :root, textarea, input, select {
  font-family: STHeiti, "Microsoft YaHei", PingFang SC, 宋体, Roboto, sans-serif;
  color: var(--color-text-main);
}

textarea, input, select {
  outline: none;
  &::placeholder {
    color: var(--color-text-secondary);
    opacity: 0.7;
  }
}
