@use "../../mixin/index" as m;

.HomeInput {
  background: var(--color-surface);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  border: 1px solid var(--color-border);
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
  flex-flow: column nowrap;

  > section {
	padding: 1em;

	> textarea {
	  width: 100%;
	  border: none;
	  resize: none;
	  font-size: 1rem;
	  color: var(--color-text-main);
	  border-radius: var(--radius-lg);
	  background: transparent;

	  &::-webkit-scrollbar {
		width: 7px;
	  }
	}
  }

  > footer {
	display: flex;
	flex-flow: nowrap row;
	gap: 2px;
	padding: .5em 1em;
	align-items: center;
	border-top: 1px solid var(--color-border);

	> .terms {
	  display: flex;
	  flex-flow: wrap row;
	  align-items: center;
	  gap: 0.4rem;
	  flex: 1;

	  > li {
		color: var(--color-text-main);
		border-radius: 6px;
		cursor: pointer;
		transition: all 0.2s;
		font-size: 12px;
		padding: 4px 8px;
		border: 1px solid transparent;

		&:hover {
		  background: var(--color-bg);
		}
	  }
	}

	&, > div {
	  > button {
		background: transparent;
		border: 1px solid transparent;
		display: flex;
		align-items: center;
		gap: 0.4rem;
		color: var(--color-text-secondary);
		border-radius: 6px;
		transition: all 0.2s;
		font-size: 12px;
		padding: 4px 8px;

		&.btn-lg {
		  > svg {
			width: 16px;
		  }
		}

		&:not(.btn-lg) {
		  > svg {
			width: 12px;
		  }
		}

		&:disabled {
		  cursor: not-allowed;
		  opacity: 0.5;
		}

		&:not(:disabled) {
		  cursor: pointer;

		  &:hover, &.active {
			background: var(--color-bg);
			border-color: var(--color-border-active);
			color: var(--color-primary);
		  }
		}
	  }
	}

	> .menu-wrapper {
	  position: relative;

	  > ul {
		@include m.flex(column);
		position: absolute;
		color: var(--color-text-main);
		border-radius: 6px;
		background: var(--color-surface);
		padding-top: .5ch;
		border: 1px solid var(--color-bottom-bg);
		box-shadow: var(--shadow-md);

		> li {
		  white-space: nowrap;
		  border: 1px solid transparent;
		  padding: 1ch 2ch;
		  width: 100%;
		  border-radius: 6px;

		  &:first-child {
			user-select: none;
		  }

		  &:not(:first-child) {
			cursor: pointer;
			border-top-color: var(--color-bottom-bg);

			&:hover {
			  background: var(--color-bg);
			  border-color: var(--color-border-active);
			  color: var(--color-primary);
			}
		  }

		  &:not(:first-child):not(:last-child) {
			align-self: end;
			padding-left: 4ch !important;
			text-align: right;
		  }

		  &:last-child {
			text-align: center;
		  }
		}
	  }
	}
  }
}
