.HomeBody {
  padding-top: 10px;

  > header {
	top: 145px !important;
  }

  > ul {
	> li {
	  &.preview-message {
		font-size: 16px;
		border-color: var(--color-border-active);

		&:hover {
		  border-color: var(--color-border-active);
		  border-width: 2px;
		}

		> span {
		  &.Source {

		  }

		  &.Replace {

		  }

		  &.Result {
			color: var(--color-text-main);
		  }
		}
	  }
	}
  }
}
