.Home {
  $max-width: 750px;
  width: 100%;
  margin: auto;
  padding-top: 1px;
  background-color: var(--color-bg);
  @media (max-width: $max-width) {
	padding: 0 5vw;
  }

  > header {
	width: 100%;
	margin: 50px auto 0;
	max-width: $max-width;
	background-color: var(--color-bg);
	position: sticky;
	top: -21px;
	padding-bottom: 10px;

	> nav, > div {
	  margin: auto;
	  width: 100%;
	}

	> nav {
	  padding: 0 12px 3vh;
	  display: flex;
	  flex-flow: nowrap row;
	  gap: .5em;
	  height: 24px;
	  line-height: 24px;
	  font-size: 12px;
	  margin-bottom: 6px;

	  a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 24px;
		padding: 0 .5em;
		border-radius: .5em;
		cursor: pointer;

		> svg {
		  width: 16px;
		}

		&:hover {
		  background: var(--color-surface) !important;
		}

		&[disabled=true] {
		  cursor: not-allowed;
		  opacity: 0.8;
		}
	  }

	  >.SingleChoice{
		font-size: 12px;
		transform: translate(-15px,-2px);
		z-index: 2000;
		>.SingleChoice__trigger{
		  border: none;
		  background: none;
		  >.SingleChoice__arrow{
			margin-left: 0;
		  }
		}
	  }
	}
  }

  > section {
	max-width: $max-width;
	margin: 0 auto;
  }
}
