@use "base/vars";
@use "base/reset";
@use "base/style";
@use "base/app";
@use "base/select";

@use "part/IconBtn";
@use "part/MainInput";
@use "part/SwitchInput";

@use "view/Home";
@use "view/OtherLayout";
@use "view/Settings";