.SettingsRow {
  $padding: 16px;
  display: flex;
  flex-flow: nowrap row;
  gap: 12px;

  &:not(:last-child) {
	border-bottom: 1px solid var(--color-border);
	padding-bottom: $padding;
  }

  &:not(:first-child) {
	padding-top: $padding - 3;
  }

  > header {
	display: flex;
	flex-direction: column;
	gap: 4px;

	> h4 {
	  font-size: 14px;
	  font-weight: 500;
	  color: var(--color-text-main);
	}

	> div {
	  font-size: 12px;
	  color: var(--color-text-secondary);
	}
  }

  > label {
	display: flex;
	flex-flow: nowrap row;
	align-items: center;
	gap: 16px;
	>input{
	  &[type="number"] {
		appearance: textfield;
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		margin: 0;
		min-width: 0;
		width:10ch;
	  }
	  &[type="checkbox"] {
		transform: translateY(1.5px);
	  }
	}
  }
}
